<p class="navbar-text">
	<strong>Log In</strong>
</p>
<form class="nav-form">
	<label>☰ Username</label>
</form>
<form class="nav-form">
	<input id="username-input-id" type="text" placeholder="username" ng-model="username" class="border-text-input">
</form>
<form class="nav-form">
	<label>☰ Password</label>
</form>
<form class="nav-form">
	<input id="pass-input-id" type="password" placeholder="password" ng-model="password" class="border-text-input">
</form>
<form class="nav-form">
	<button id="confirm-btn-id" type="button" ng-click="submitLoginRequest()">Confirm</button>
</form>