<div>
    <ui-gmap-google-map center='map.center' zoom='map.zoom' options='map.options' events='map.events' bounds='map.bounds'>
    	<ui-gmap-map-control template="{{searchbox.template}}" position="TOP_LEFT" controller="searchBoxCtrl"></ui-gmap-map-control>
    	<ui-gmap-map-control template="{{recenterButton.template}}" position="RIGHT_BOTTOM" controller="recenterButtonCtrl" index="1"></ui-gmap-map-control>
    	<ui-gmap-map-control template="{{menuButton.template}}" position="RIGHT_BOTTOM" controller="menuButtonCtrl" index="0"></ui-gmap-map-control>
    	<ui-gmap-marker coords="selfMarker.position" idKey="-1" options="selfMarker.options">
    	</ui-gmap-marker>
    	<ui-gmap-marker coords="pin.geo" idKey="pin.id" options="pin.options" ng-repeat="pin in pins">
    		<ui-gmap-window isIconVisibleOnClick="true">
	    		<div class="InfoWindowContent" ng-controller="infoWindowCtrl">
	    			<div style="margin-bottom: 0.3em">          
	    				<form class="vote-control">            
	    					<button type="button" ng-click="upVote()" ng-show="{{!pin.vote_by_current_user}}">▲</button> 
	    					<button type="button" class="disabled disabled-highlight" ng-show="{{pin.vote_by_current_user||false}} && {{pin.vote_by_current_user.vote||false}}">▲</button> 
	    					<button type="button" class="disabled" ng-show="{{pin.vote_by_current_user||false}} && {{(!pin.vote_by_current_user.vote)||false}}">▲</button>      
	    					<strong class="heart">♡: {{pin.vote_score}}</strong>            
	    					<button type="button" ng-click="downVote()" ng-show="{{!pin.vote_by_current_user}}">▼</button>
	    					<button type="button" class="disabled disabled-highlight" ng-show="{{pin.vote_by_current_user||false}} && {{(!pin.vote_by_current_user.vote)||false}}">▼</button>   
	    					<button type="button" class="disabled" ng-show="{{pin.vote_by_current_user||false}} && {{pin.vote_by_current_user.vote||false}}">▼</button>        
	    				</form>      
	    			</div>      
	    			<div class="post-title" ng-show="{{pin.title.length}} > 11">        
	    				<p class="moving"><strong>{{pin.title}}</strong></p>      
	    			</div>
	    			<div class="post-title" ng-show="{{pin.title.length}} <= 11">        
	    				<p><strong>{{pin.title}}</strong></p>      
	    			</div>
	    			<div>
	    				<button class="InfoWindowContentButton" type="button" ng-click="showDetailOnclick()">View</button>
	    			</div>
	    		</div>
    		</ui-gmap-window>
    	</ui-gmap-marker>
    </ui-gmap-google-map>
</div>