<p class="navbar-text">
	<strong>New Post</strong>
</p>
<form class="nav-form" name="newPinForm" role="form">
	<div class="form-group">
		<label>☰ Title</label>
		<input id="make-title-id" type="text" placeholder="Title" ng-model="title" class="border-text-input form-control" required>
	</div>
	<div class="form-group">
		<label>☰ Body</label>
		<textarea id="make-body-id" rows="8" placeholder="(Optional)" ng-model="description" class="form-control"></textarea>
	</div>
	<div class="form-group">
		<label>☰ Tags</label>
		<textarea id="make-tag-id" class="tag-input-field form-control" ng-model="tag_string" placeholder="(Optional)" rows="2">
		</textarea>
	</div>
	<div class="form-group">
		<button id="post-btn-id" type="submit" ng-click="submitPostPinRequest()" style="width:100%">Post</button>
    </div>
</form>